.DS_Store

Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.*-ca-bundle
Package Control.cache/
Package Control.ca-certs/

Side Bar.sublime-settings

bh_unicode_properties.cache
